# Total Atheltes split male and female

# Purpose 
Joining the Medal df from notebook 500-Olympic_Medals_DF with the Athlete number df from 600-Olympic_Athlete_Numbers to have a df with the Medal winner information as well as the athlete information.

# Datasets
Uses: <br>
** Games-600.csv ** from 600-Olympic_Athlete_Numbers and ** Games-500.csv ** from 500-Olympic_Medals_DF  <br>
Creates: &emsp;
<br>
** Games-700.csv **

In [1]:
import os.path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
%matplotlib inline
from bs4 import BeautifulSoup
import webbrowser
import urllib.request
from lxml import html
import zipfile
import re
import string
import sys, os
from IPython.display import Image

In [2]:
# Ensure the file exists
if not os.path.exists( r"..\..\data\prep\Games\Games-600.csv"):
    print("Missing dataset file")

In [3]:
df = pd.read_csv( r"..\..\data\prep\Games\Games-600.csv", encoding = "ISO-8859-1")

In [4]:
# looking at the previously created df with all the athlete number information  
df.head(3)

   NOC   M  F  Total  Year Host_Country Host_City  Summer  Winter
0  EGY  74  0     74  1960          ITA      Rome    True   False
1  ETH   9  0      9  1960          ITA      Rome    True   False
2  GHA  13  0     13  1960          ITA      Rome    True   False

In [5]:
dfT = df.groupby(['Year', 'Host_Country', 'Host_City'])[["M", "F", "Total"]].sum()
dfT = dfT.reset_index()

In [6]:
# Ensure the file exists
if not os.path.exists(r"..\..\data\prep\Games\Games-500.csv" ):
    print("Missing dataset file")

In [7]:
df = pd.read_csv( r"..\..\data\prep\Games\Games-500.csv", encoding = "ISO-8859-1")

# Joining the tables
in order to join these two tables I'll have to index them with the same fields.

In [8]:
# I'll set the index of the original dataframe to Year, Host_Country and host_City so I can join it to the total athletes df
df = df.set_index(['Year', 'Host_Country', 'Host_City'])

In [9]:
# Now I'll do the same to the total table so I can join them 
dfT = dfT.set_index(['Year', 'Host_Country', 'Host_City'])

In [10]:
df.head(1)

,,,Summer,Winter,Discipline,Sport,Event,Ath_Name,Gender,NOC,Home_Adv,Medal,Gold,Silver,Bronze,Total_Medals
Year,Host_Country,Host_City,,,,,,,,,,,,,,
2010,CAN,Vancouver,False,True,Bobsleigh,Bobsleigh,two-man,"ADJEI, Richard",M,GER,False,Silver,0,1,0,1

In [11]:
# It'll be possible to join the medal df to the total athlete df because they share the same indexes
# I just have to include which of the fields from the medal df I want to include in the join (which is all of them)
df = df[['Discipline','Gender', 'NOC', 'Sport', 'Summer', 'Winter', 'Ath_Name', 'Home_Adv', 'Gold', 'Silver', 'Bronze', 'Total_Medals']].join(dfT).reset_index()

In [12]:
# Changing the field names for the athlete numbers   
df.rename(columns={'M': 'Total_Males'}, inplace=True)
df.rename(columns={'F': 'Total_Females'}, inplace=True)
df.rename(columns={'Total': 'Total_Athletes'}, inplace=True)

In [14]:
# Changing the order of the columns 
df = df[['Year', 'Host_City', 'Host_Country', 'Total_Males', 'Total_Females', 'Total_Athletes', 'Summer', 'Winter', 'Discipline','Sport',
              'Ath_Name', 'Gender', 'NOC', 'Home_Adv', 'Gold', 'Silver', 'Bronze', 'Total_Medals']]

In [15]:
df.to_csv(r"..\..\data\prep\Games\Games-700.csv", index=False)